*,
*::before,
*::after{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
    font-family: 'texgyrecursorregular';
    src: url('fonts/tex/regular/texgyrecursor-regular-webfont.eot');
    src: url('fonts/tex/regular/texgyrecursor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tex/regular/texgyrecursor-regular-webfont.woff') format('woff'),
         url('fonts/tex/regular/texgyrecursor-regular-webfont.ttf') format('truetype'),
         url('fonts/tex/regular/texgyrecursor-regular-webfont.svg#texgyrecursorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3 {
  padding: 0px !important;
  margin: 0px !important;
}

body {
  background-image: url("http://www.bagdadmovies.com/images/bagdad_movies/bg.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Arimo', sans-serif;
}

.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  font-family: 'Arimo', sans-serif;
}

/* navigation
=================*/

.logo {
  width: 80%;
}

.navbar-default {
  background:rgba(0, 0, 0, 0.5) !important;
}

.navbar-header{
  border: none !important;
}

.navbar-header button {
  border: none !important;
  height: 6vh;
}

.navbar-header button:hover {
  background: none !important;
}

.navbar-header button:focus {
  background: none !important;
}

.icon-bar {
  background-color: #DB7E25 !important;
  height: 3px !important;
}

.navbar-collapse {
  border: none !important;
}

/*.nav ul {
  list-style: none;
  margin: 2em;
  padding: 0;
}*/

.nav ul {
  padding-left: 1%;
  font-family: 'Arimo', sans-serif;
}

.nav a {
  color: #DB7E25 !important;
}

.nav a:hover {
  color: #FFFCF3 !important;
}

.styledSelect select{
  -webkit-appearance:none;
  color: black;
  font-size: 18px;
  padding: 5px 5px 5px 10px;
  width: 100%;
  margin-bottom: 10%;
}

/* Main Body
=================*/

.marquee {
  background:rgba(0, 0, 0, 0.5);
}

.showtimes {
  background:rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  clear: both;
  margin: 5% 3% 1% 3%;
  padding: 2em;
  max-width: 400px;
}

.buyTickets {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1em 1em 1em 2em;
  overflow: auto;
}

.buyTickets h4{
  text-align: center;
  font-size: 1.2em;
  margin-top: 0;
}

/* Buttons
=================*/

.buyTickets a {
  width: 45%;
  display: block;
  float: left;
  background-color: #DB7E25;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: .5em 3em .5em 3em;
  margin: 0px 1em 1em 0px;
  box-shadow: 0px 5px 0px 0px rgba(174,101,30,1);
}

.buyTickets a:hover {
  background-color: #E19851;
  color: white;
  text-decoration: none;
-webkit-transition: background-color .2s linear; /* for Safari & Chrome */
}












/* Media Queries
=================*/

@media screen(min-width:750px){
  .wrapper{
    width:90%;
  }
}
